* {
    margin: 0;
    padding: 0;
}

.container {
    
    color: white;
}

.head {
    margin: 10px;
    background-color: blue;

}
.mid{

    display: flex;
}
.item{
    height: 200px;
    
}
.item1{
    width: 30%;
    margin: 0 10px;
    background-color: green;
}
.item2{
    margin-right: 10px;
    width: 70%;
    background-color: red;
}
.footer{
    margin: 10px;
    background-color: purple;
}