*{
    margin: 0;
    padding: 0;
}
.container{
    color: white;
}
.head{
    display: flex;
    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    width: 30%;
    height: 70px;
    margin: 10px 10px 0 10px;
    border-radius: 4px;
}
.footer{
    justify-content: space-between;
    display: flex;
}
.item1{
    width: 14.4%;
}
.item2 {
    width: 14.4%;
}