*{
    margin: 0;
    padding: 0;
}
.container{
    color: white;
}
.head{
    
    margin: 10px 10px 10px 10px;
    display: flex;
    gap:10px;
}
.footer{
    margin: 0 10px 10px 10px;
    display: flex;
    gap: 10px;
}
.item{
   height: 70px;
    display: flex;
        justify-content: center;
    width: 50%;
    background-color:rgb(47, 52, 98) ;
}
.Item{
    
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
    height: 10%;
    
}
.smallItem{
    height: 30px;
    display: flex;
        justify-content: center;
        align-items: center;
    width: 48%;
    background-color: rgb(47, 52, 98);
}