.big{
    width: 100%;
    background-color: #d0cbcb;
    
}
.small{
    margin: 2px;
    width: 300px;
    height: 180px;
    border: 1px solid rgb(161, 159, 159);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(198, 41, 41);
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 15px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 45, 138);
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 15px;
}
table{
    background-color: #d0cbcb;
}
td{
}