a{
    text-decoration: none;
    color:white;
    
}
h2{
    color: white;
    display: inline;
    padding-right: 530px;
    padding-left: 29px;


}
img{
    width: 100px;
    height: 100px;
}
.div1{
    background-color: rgb(51, 50, 50);
    width: 1000px;
    height: 80px;
    align-content: center;
}
.div2{
    background-color: rgba(213, 209, 209, 0.439);
    padding-left: 20px;
    width: 980px;
    height: 150px;
    
}
.heading{
    padding-top:20px;
}
.div3{

    width: 1000px;
}
.tablemid{
/* background-color: aqua; */
width: 1000px;
padding-bottom: 10px;

}
.div4{
    align-content: center;
    height: 50px;
    background-color: rgba(213, 209, 209, 0.439);
    width: 1000px;
}
.textfinal{
    text-align: center;
}
h3{
    padding-left: 20px;
    padding-top: 10px;
}
button{
    width: 230px;
    color: white;
    background-color: rgb(50, 49, 49);
    border-width: thin;
    border-radius: 6px;
    height: 40px;

}
.hee{
    padding-left: 10px;
    padding-right: 10px;
}