* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.head1 {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 17px;
}

span {
    position: absolute;
    right: 20px;
    color: rgb(73, 73, 196);
}

.mid {
    display: flex;
    gap: 30px;
}

.miditem1 {
    width: 800px;
    margin-top: 30px;
    position: relative;
}

.miditem1 img {
    width: 800px;
    height: 500px;

}



.miditem1 h1 {
    width: 750px;
    background-color: white;
    position: absolute;
    top: 435px;
    left: 20px;
}

.miditem1 p {
    padding-top: 20px;
    width: 800px;
    padding-left: 20px;
}

.miditem2 {
    padding-top: 20px;
    width: 350px;
}

.miditem2 h2 {
    margin: 0 0 20px 0;
}

.miditem2 p {
    border-bottom: 1px solid gray;
    margin-top: 20px;
    padding-bottom: 20px;
}

.miditem2 .finaltext {
    border: none;
}

.miditem3 {
    padding-top: 20px;
    position: relative;
}

.miditem3 .text {
    background-color: rgb(213, 218, 218);
    position: relative;
    padding-bottom: 50px;
}

.miditem3 .p1 {
    margin: 15px;
    font-size: 18px;
}

.miditem3 p {
    width: 350px;
    margin: 0 15px 0 15px;
}

.miditem3 .text button {
    color: rgb(29, 29, 236);
    border: none;
    background-color: rgb(213, 218, 218);
    font-size: 15px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.miditem3 .mid{
    margin-left: -1px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(49, 49, 243);
}
.miditem3 input{
    font-size: 15px;
    border: none;
}
.miditem3 button{
    width: 80px;
    height: 25px;
    background-color: blue;
    color: white;
    border: none;
    position: absolute;
    right: 0;
}